* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif; }
  * img {
    max-width: 100%; }

html, body {
  max-width: 100vw;
  height: 100vh; }

article.headband {
  width: 100%;
  height: 3%;
  line-height: 165%;
  background-color: #141414;
  color: white; }
  article.headband p {
    text-align: center; }

header {
  height: 60%;
  background-image: url(/ws/Geity/media/images/stocks/image_image_banner_b.png);
  background-size: 100% 100%; }
  header nav {
    display: flex;
    align-items: center;
    height: 20%;
    border-bottom: 0.5px solid #141414; }
    header nav ul {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      header nav ul div {
        margin-right: 2%;
        display: flex;
        align-items: baseline;
        width: 45%;
        justify-content: space-between; }
        header nav ul div li.nav-links:hover {
          transition-duration: 2s;
          background-color: #ff9c91; }
      header nav ul li.logo-site {
        margin-left: 2%; }
      header nav ul li {
        list-style-type: none;
        width: auto;
        white-space: nowrap; }
        header nav ul li a {
          font-size: 1.25em;
          color: black;
          text-decoration: none; }

header.is_first_page ul li a {
  color: white; }

main {
  height: 170%;
  width: 100%; }
  main h2.title {
    text-transform: uppercase;
    border-bottom: 1px solid black;
    letter-spacing: 3px;
    width: fit-content;
    margin: auto; }
  main section.show-on {
    height: 33%;
    text-align: center; }
    main section.show-on h1 {
      margin: 5% 0 1% 0;
      font-weight: normal;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 3px; }
    main section.show-on aside {
      width: 75%;
      margin: 5% auto 0 auto;
      display: flex;
      justify-content: space-between; }
      main section.show-on aside article img {
        width: 80%; }
      main section.show-on aside article ul {
        list-style-type: none; }
        main section.show-on aside article ul li {
          width: 80%;
          margin: 2% auto 0 auto;
          text-align: left; }
          main section.show-on aside article ul li a.nom_article {
            font-weight: 600;
            letter-spacing: 3px;
            text-decoration: none;
            color: black; }
  main section.promo {
    height: 33%;
    background-image: url(/ws/Geity/media/images/stocks/image_image_banner_b.png);
    background-size: 100% 100%;
    position: relative; }
    main section.promo div.promo {
      position: absolute;
      top: 15.5%;
      left: 12.5%;
      height: 55%;
      width: 20%;
      background-color: white;
      padding: 2%; }
      main section.promo div.promo h3 {
        font-weight: normal;
        letter-spacing: 3px; }
      main section.promo div.promo h2 {
        margin-top: 2%;
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 3px; }
      main section.promo div.promo p {
        margin-top: 7%;
        font-size: 1.3em;
        line-height: 40px; }
  main section.collection {
    height: 33%; }
    main section.collection aside.container {
      position: relative;
      margin: auto;
      width: 75%;
      height: 100%;
      display: flex; }
      main section.collection aside.container article.col1_2 {
        position: relative;
        top: 15.5%;
        width: 50%;
        height: 100%; }
        main section.collection aside.container article.col1_2 div.coll {
          height: 70%;
          width: 65%;
          padding: 2%; }
          main section.collection aside.container article.col1_2 div.coll h3 {
            margin-top: 7%;
            font-weight: normal;
            letter-spacing: 3px; }
          main section.collection aside.container article.col1_2 div.coll h2 {
            margin-top: 2%;
            font-size: 2em;
            font-weight: 900;
            letter-spacing: 3px; }
          main section.collection aside.container article.col1_2 div.coll p {
            margin-top: 7%;
            margin-bottom: 11%;
            font-size: 1.3em;
            line-height: 40px; }
          main section.collection aside.container article.col1_2 div.coll a.bouton {
            text-decoration: none;
            color: white;
            background-color: black;
            padding: 3% 7% 3% 7%;
            font-weight: 900; }
            main section.collection aside.container article.col1_2 div.coll a.bouton:hover span {
              transition-duration: 2s;
              display: inline-block; }
            main section.collection aside.container article.col1_2 div.coll a.bouton span {
              display: none; }

footer {
  height: 35%;
  display: flex;
  background-color: #141414; }
  footer section.footer_3 {
    height: 100%;
    width: 33%;
    color: white; }
    footer section.footer_3:nth-child(1) {
      position: relative; }
      footer section.footer_3:nth-child(1) p {
        position: relative;
        left: 20%;
        top: 35%; }
        footer section.footer_3:nth-child(1) p img {
          margin-bottom: 2%; }
  footer section.col2_3 {
    position: relative;
    top: 25%;
    height: 75%; }
    footer section.col2_3 h3 {
      font-size: 1.5em;
      letter-spacing: 3px;
      margin-bottom: 4%;
      font-weight: 900; }
    footer section.col2_3 ul {
      list-style-type: none; }
      footer section.col2_3 ul li {
        margin-top: 5%;
        font-weight: 300; }
        footer section.col2_3 ul li a {
          text-decoration: none;
          color: white;
          font-weight: 300; }

/*# sourceMappingURL=main.css.map */
